<script src="{{ 'article-summary.js' | asset_url }}" defer="defer"></script>

<article-summary data-hn="{{ summary__hn }}" data-limit="{{ summary__hn_limit }}">
  <div class="main-article__summary--title uppercase">
    {{ title }}
  </div>
</article-summary>
