.footer {
  border-top: 0.1rem solid rgba(var(--color-foreground), 0.08);
}

.footer:not(.color-scheme-1) {
  border-top: none;
}

.footer__content-top {
  display: block;
  padding: 2.4rem 2rem;

  @include respond-to(md) {
    padding: 6.4rem;
  }
}

.upper-footer {
  display: flex;
  flex-direction: column;
  padding: 24px 20px 0;
  border-bottom: 1px solid rgb(var(--color-foreground));

  @include respond-to(md) {
    padding: 0;
  }

  .content-wrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 0;
    gap: 0.8rem;

    .logo-wrapper {
      display: none;

      img {
        max-width: 200px;
        height: auto;
      }

      @include respond-to(md) {
        display: flex;
        justify-content: flex-start;
        width: 260px;
        margin-bottom: 4rem;
        gap: 3rem;
      }
    }

    .image-col {
      display: flex;
      order: 1;

      img {
        width: 260px;
        max-width: 100%;
        height: auto;
        margin-inline: auto;
      }

      @include respond-to(md) {
        display: flex;
        flex: 0 0 150px;
        flex-direction: column;
        justify-content: space-between;
        order: 0;
        padding: 6.4rem 6.4rem 0;
      }
    }

    .text-cols {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2rem;
      order: -1;
      color: rgb(var(--color-foreground));

      .text-col {
        .text-heading {
          margin-top: 0;
          margin-bottom: 1.6rem;
          font-size: 14px;
          font-weight: 400;
          letter-spacing: 0.28px;
          line-height: 20px;
          text-transform: uppercase;
        }

        p {
          line-height: 1.5;
        }
      }

      @include respond-to(md) {
        flex: 1;
        order: 0;
        padding: 6.4rem;
        gap: 3.2rem;
      }

      @include respond-to(l) {
        grid-template-columns: repeat(3, 1fr);
      }
    }

    @include respond-to(md) {
      flex-direction: row;
    }
  }
}

.footer__content-bottom {
  padding-top: 3rem;
  border-top: solid 0.1rem rgba(var(--color-foreground), 0.08);
}

@media screen and (max-width: 749px) {
  .footer .grid {
    display: block;
  }

  .footer-block.grid__item {
    width: 100%;
    padding: 0;
  }

  .footer-block.grid__item:first-child {
    margin-top: 0;
  }
}

@media screen and (min-width: 750px) {
  .footer__content-top .grid {
    row-gap: 6rem;
    margin-bottom: 0;
  }
}

.footer__content-bottom {
  padding-top: 3rem;
  border-top: solid 0.1rem rgba(var(--color-foreground), 0.08);
}

.footer__content-bottom:only-child {
  border-top: 0;
}

.footer__content-bottom-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 749px) {
  .footer__content-bottom {
    flex-wrap: wrap;
    padding-top: 0;
    padding-right: 0;
    padding-left: 0;
    row-gap: 1.5rem;
  }

  .footer__content-bottom-wrapper {
    flex-wrap: wrap;
    row-gap: 1.5rem;
    justify-content: center;
  }

  .footer__content-bottom.scroll-trigger.animate--slide-in {
    transform: inherit;
    animation: none;
    opacity: 1;
  }
}

@media screen and (max-width: 749px) {
  .footer__localization:empty + .footer__column {
    padding-top: 1.5rem;
  }
}

.footer__column {
  align-items: flex-end;
  width: 100%;
}

.footer__column--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

@media screen and (min-width: 750px) {
  .footer__column--info {
    align-items: flex-start;
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-block:only-child:last-child {
  max-width: 76rem;
  margin: 0 auto;
  text-align: center;
}

@media screen and (min-width: 750px) {
  .footer-block {
    display: block;
    margin-top: 0;
  }
}

.footer-block:empty {
  display: none;
}

.footer-block--newsletter {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1.6rem;
  gap: 1rem;

  @include respond-to(md) {
    margin-top: 0;
  }
}

@media screen and (max-width: 749px) {
  .footer-block.footer-block--menu:only-child {
    text-align: left;
  }
}

@media screen and (min-width: 750px) {
  .footer-block--newsletter {
    flex-wrap: nowrap;
    justify-content: center;
  }
}

.footer-block__heading {
  margin-top: 0;
  margin-bottom: 2rem;
  font-size: calc(var(--font-heading-scale) * 1.6rem);
}

@include respond-to(ml) {
  .footer-block__heading {
    font-size: calc(var(--font-heading-scale) * 1.8rem);
  }
}

.footer__list-social:empty,
.footer-block--newsletter:empty {
  display: none;
}

.footer__follow-on-shop {
  display: flex;
  text-align: center;
}

.footer__list-social.list-social:only-child {
  justify-content: center;
}

.footer-block__newsletter {
  flex-grow: 1;
  padding: 1.6rem;
  border-radius: 4px;
  background: rgb(var(--color-background-lighten));
  text-align: left;

  @include respond-to(md) {
    padding: 2.4rem;
  }

  .h3 {
    margin-bottom: 1.6rem;

    @include respond-to(md) {
      margin-bottom: 2.4rem;
    }
  }

  .footer-block__details-content {
    margin-bottom: 0;
  }

  .newsletter-form {
    margin-top: 1.2rem;

    @include respond-to(md) {
      margin-top: 1.6rem;
    }
  }
}

.newsletter-form__field-wrapper {
  max-width: 36rem;
}

@media screen and (min-width: 750px) {
  /* Pushes other components to the right of the flexbox */
  .footer-block__newsletter:not(:only-child) {
    margin-right: auto;
    text-align: left;
  }

  .footer-block__newsletter:not(:only-child) .footer__newsletter {
    justify-content: flex-start;
    margin: 0;
    margin-top: 2.4rem;
  }

  .footer-block__newsletter:not(:only-child) .newsletter-form__message--success {
    left: auto;
  }

  .footer__follow-on-shop {
    margin-bottom: 0.4rem;
  }
  /* Follow on shop is the first button but it has siblings*/
  .footer__follow-on-shop:first-child:not(:last-child) {
    justify-content: flex-start;
    margin-right: auto;
    text-align: left;
  }

  /*
    All three components are present, email, Follow on Shop, and social icons.
    Moves the FoS button next to the social icons so they appear grouped together
  */
  .footer__follow-on-shop:not(:first-child):not(:last-child) {
    justify-content: flex-end;
    text-align: right;
  }
}

@media screen and (max-width: 749px) {
  /*
    On a small screen we want all the items to be centered
    because they will be stacked.
   */
  .footer-block--newsletter {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    align-items: flex-start;
    gap: 3.2rem;
  }

  .footer__list-social.list-social,
  .footer__follow-on-shop,
  .footer-block__newsletter {
    display: flex;
    justify-content: center;
  }

  .footer-block__newsletter {
    flex-direction: column;
  }
}

@media screen and (min-width: 750px) {
  .footer-block__newsletter + .footer__list-social {
    margin-top: 0;
  }
}

.footer__localization {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 1rem 1rem 0;
}

.footer__localization:empty {
  display: none;
}

.footer__localization h2 {
  margin: 1rem 1rem 0.5rem;
  color: rgba(var(--color-foreground), 0.75);
}

@media screen and (min-width: 750px) {
  .footer__localization {
    justify-content: flex-start;
    padding: 0.4rem 0;
  }

  .footer__localization h2 {
    margin: 1rem 0 0;
  }
}

@media screen and (min-width: 750px) {
  .footer__payment {
    margin-top: 1.5rem;
  }
}

.footer__content-bottom-wrapper--center {
  justify-content: center;
}

.footer__copyright {
  margin-top: 1.5rem;
  text-align: left;
}

@keyframes appear-down {
  0% {
    margin-top: -1rem;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}

.footer-block__details-content {
  margin-bottom: 4rem;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content {
    margin-bottom: 0;
  }

  .footer-block__details-content > p,
  .footer-block__details-content > li {
    padding: 0;
  }

  .footer-block:only-child li {
    display: inline;
  }

  .footer-block__details-content > li:not(:last-child) {
    margin-right: 1.5rem;
  }
}

.footer-block__details-content .list-menu__item--link,
.copyright__content a {
  color: rgba(var(--color-foreground), 0.75);
}

.footer-block__details-content .list-menu__item--active {
  transition: text-decoration-thickness var(--duration-short) ease;
  color: rgb(var(--color-foreground));
}

@media screen and (min-width: 750px) {
  .footer-block__details-content .list-menu__item--link:hover,
  .copyright__content a:hover {
    color: rgb(var(--color-foreground));
  }

  .footer-block__details-content .list-menu__item--active:hover {
    text-decoration-thickness: 0.2rem;
  }
}

.footer-block__details-content .list-menu__item--link {
  display: inline-block;
  padding-block: 0.8rem;
}

@media screen and (min-width: 750px) {
  .footer-block__details-content > :first-child .list-menu__item--link {
    padding-top: 0;
  }
}

.footer-block-image {
  display: flex;
}

.footer-block-image.left {
  justify-content: flex-start;
}

.footer-block-image.center {
  justify-content: center;
}

.footer-block-image.right {
  justify-content: flex-end;
}

@media screen and (max-width: 749px) {
  .footer-block-image,
  .footer-block-image.left,
  .footer-block-image.center,
  .footer-block-image.right {
    justify-content: center;
  }
}

.footer-block__image-wrapper {
  margin-bottom: 2rem;
  overflow: hidden !important;
}

.footer-block__image-wrapper img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer-block__brand-info {
  text-align: left;
}

.footer-block:only-child .footer-block__brand-info {
  text-align: center;
}

.footer-block:only-child > .footer-block__brand-info > .footer-block__image-wrapper {
  margin-right: auto;
  margin-left: auto;
}

.footer-block-image > img,
.footer-block__brand-info > img {
  height: auto;
}

.footer-block:only-child .footer-block__brand-info .footer__list-social.list-social {
  justify-content: center;
}

.footer-block__brand-info .footer__list-social.list-social {
  justify-content: flex-start;
}

.footer-block__details-content .placeholder-svg {
  max-width: 20rem;
}

.copyright__content {
  font-size: 1.1rem;
}

.copyright__content a {
  color: currentColor;
  text-decoration: none;
}

.policies {
  display: inline;
}

.policies li {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.policies li::before {
  content: "\00B7";
  padding: 0 0.8rem;
}

.policies li a {
  display: block;
  padding: 0.6rem 0;
}

@media screen and (min-width: 750px) {
  .policies li a {
    padding: 0;
  }
}
@keyframes animateLocalization {
  0% {
    transform: translateY(0);
    opacity: 0;
  }

  100% {
    transform: translateY(-1rem);
    opacity: 1;
  }
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  @media screen and (max-width: 749px) {
    .footer .grid {
      margin-left: 0;
    }
  }

  @media screen and (min-width: 750px) {
    .footer__content-top .grid {
      margin-left: -3rem;
    }

    .footer__content-top .grid__item {
      padding-left: 3rem;
    }
  }
}

footer {
  .footer__list-social.list-social {
    gap: 3.2rem;

    a {
      padding: 0;
    }
  }

  .footer-block-type--link_list + .footer-block-type--link_list {
    margin-top: 2.4rem;

    @include respond-to(md) {
      margin-top: 0;
    }
  }

  .footer-block-type--newsletter {
    margin-top: 3.2rem;

    @include respond-to(md) {
      margin-top: 0;
    }

    @include respond-to(md, l) {
      flex: 1 0 100%;
    }
  }

  .svg-wrapper,
  .list-social__item .icon {
    width: 32px;
    height: 32px;
  }

  .footer-block--newsletter {
    .footer__column--info {
      align-items: flex-start;
      justify-content: flex-start;
      padding-top: 0 !important;
    }
  }
}

.footer-block__toggle {
  display: inline-flex;
  align-items: center;

  .svg-wrapper {
    width: 2rem;
    height: 2rem;

    &:last-child {
      display: none;
    }
  }
}

.footer-block__summary {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0;
  cursor: pointer;
}

.footer-block__details {
  .footer-block__heading {
    margin-bottom: 0;
  }

  &[open] {
    .footer-block__details-content {
      padding-bottom: 1rem;
    }

    .svg-wrapper:first-child {
      display: none;
    }

    .svg-wrapper:last-child {
      display: block;
    }
  }

  &:not([open]) .footer-block__details-content {
    display: none;
  }

  @include respond-to(md) {
    summary {
      margin-bottom: 16px;
    }
  }
}

@include respond-to(md) {
  .footer-block__details {
    padding: 0;

    .footer-block__summary {
      padding: 0;
      pointer-events: none;
    }

    &[open] .icon-plus {
      display: none;
    }

    &:not([open]) .icon-minus {
      display: none;
    }

    &[open] .footer-block__details-content,
    &:not([open]) .footer-block__details-content {
      display: block;
      padding: 0;
    }
  }

  .footer-block__toggle {
    display: none;
  }
}
