.image-with-text {
  /* Needed for gradient continuity with or without animation */
}
.image-with-text .grid {
  margin-bottom: 0;
}
.image-with-text .grid__item {
  position: relative;
}
.image-with-text .grid__item::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.image-with-text__grid--reverse {
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .image-with-text__grid--reverse {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  .image-with-text__grid--reverse .image-with-text__content {
    margin-left: auto;
    margin-left: 0;
  }
  .image-with-text__grid--reverse .image-with-text__text-item {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.image-with-text__media {
  min-height: 100%;
  overflow: visible;
}
.image-with-text__media--small {
  height: 19.4rem;
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .image-with-text__media--small {
    height: 31.4rem;
  }
}
.image-with-text__media--medium {
  height: 29.6rem;
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .image-with-text__media--medium {
    height: 46rem;
  }
}
.image-with-text__media--large {
  height: 43.5rem;
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .image-with-text__media--large {
    height: 69.5rem;
  }
}
.image-with-text__media--placeholder {
  position: relative;
  overflow: hidden;
}
.image-with-text__media--placeholder:after {
  content: "";
  position: absolute;
  background: rgba(var(--color-foreground), 0.04);
}
.image-with-text__media--placeholder.image-with-text__media--adapt {
  height: 20rem;
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .image-with-text__media--placeholder.image-with-text__media--adapt {
    height: 30rem;
  }
}
.image-with-text__media--placeholder > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  fill: currentColor;
}
.image-with-text__media--placeholder:is(.animate--ambient, .animate--zoom-in) > .svg-wrapper {
  top: 0;
  left: 0;
  -webkit-transform: translate(0);
      -ms-transform: translate(0);
          transform: translate(0);
}
.image-with-text__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  padding: 40px 16px;
  border-radius: var(--text-boxes-radius);
  -webkit-box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
          box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
  word-break: break-word;
  /* Handle min-width only */
  /* Handle min-width only */
}
@media (min-width: 980px) {
  .image-with-text__content {
    padding: 6.4rem;
  }
}
.image-with-text__content > * + * {
  margin-top: 2rem;
}
.image-with-text__content > .image-with-text__text:empty ~ a {
  margin-top: 2rem;
}
.image-with-text__content > :first-child:is(.image-with-text__heading),
.image-with-text__content .image-with-text__text--caption + .image-with-text__heading,
.image-with-text__content .image-with-text__text--caption:first-child {
  margin-top: 0;
}
.image-with-text__content :last-child:is(.image-with-text__heading),
.image-with-text__content .image-with-text__text--caption {
  margin-bottom: 0;
}
.image-with-text__content .button + .image-with-text__text {
  margin-top: 2rem;
}
.image-with-text__content .image-with-text__text + .button {
  margin-top: 3rem;
}
.image-with-text__content--mobile-right > * {
  -ms-flex-item-align: end;
      align-self: flex-end;
  text-align: right;
}
.image-with-text__content--mobile-center > * {
  -ms-flex-item-align: center;
      align-self: center;
  text-align: center;
}
@media (min-width: 768px) {
  .image-with-text__content--bottom {
    -ms-flex-item-align: end;
        align-self: flex-end;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .image-with-text__content--top {
    -ms-flex-item-align: start;
        align-self: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .image-with-text__content--desktop-right > * {
    -ms-flex-item-align: end;
        align-self: flex-end;
    text-align: right;
  }
  .image-with-text__content--desktop-left > * {
    -ms-flex-item-align: start;
        align-self: flex-start;
    text-align: left;
  }
  .image-with-text__content--desktop-center > * {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
  }
}
.image-with-text__heading {
  margin-bottom: 0;
}
.image-with-text__text p {
  margin-top: 0;
  margin-bottom: 1rem;
}
.image-with-text.collapse-corners:not(.image-with-text--overlap) {
  /* Handle min-width only */
}
@media screen and (max-width: 749px) {
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__media .placeholder-svg {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid__item .image-with-text__content {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}
@media (min-width: 768px) {
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__media .placeholder-svg {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content:after {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__text-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content:after {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media-item:after,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media img,
  .image-with-text.collapse-corners:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__media .placeholder-svg {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
.image-with-text.collapse-borders:not(.image-with-text--overlap) {
  /* Handle min-width only */
}
@media screen and (max-width: 749px) {
  .image-with-text.collapse-borders:not(.image-with-text--overlap) .image-with-text__content {
    border-top: 0;
  }
}
@media (min-width: 768px) {
  .image-with-text.collapse-borders:not(.image-with-text--overlap) .grid:not(.image-with-text__grid--reverse) .image-with-text__content {
    border-left: 0;
  }
  .image-with-text.collapse-borders:not(.image-with-text--overlap) .image-with-text__grid--reverse .image-with-text__content {
    border-right: 0;
  }
}
.image-with-text.collapse-padding .image-with-text__grid {
  /* Handle min-width only */
}
@media screen and (max-width: 749px) {
  .image-with-text.collapse-padding .image-with-text__grid .image-with-text__content {
    padding-right: 0;
    padding-left: 0;
  }
}
@media (min-width: 768px) {
  .image-with-text.collapse-padding .image-with-text__grid:not(.image-with-text__grid--reverse) .image-with-text__content:not(.image-with-text__content--desktop-center) {
    padding-right: 0;
  }
  .image-with-text.collapse-padding .image-with-text__grid.image-with-text__grid--reverse .image-with-text__content:not(.image-with-text__content--desktop-center) {
    padding-left: 0;
  }
}
.image-with-text--overlap .image-with-text__content {
  width: 90%;
  margin: -3rem auto 0;
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .image-with-text--overlap .image-with-text__content {
    width: calc(100% + 4rem);
    min-width: calc(100% + 4rem);
    height: auto;
    margin-top: 0;
    margin-left: -4rem;
  }
}
.image-with-text--overlap .image-with-text__text-item {
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .image-with-text--overlap .image-with-text__text-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 0;
  }
}
.image-with-text--overlap .image-with-text__media-item--top {
  -ms-flex-item-align: start;
      align-self: flex-start;
}
.image-with-text--overlap .image-with-text__media-item--middle {
  -ms-flex-item-align: center;
      align-self: center;
}
.image-with-text--overlap .image-with-text__media-item--bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
}
.image-with-text:not(.collapse-corners, .image-with-text--overlap) .image-with-text__media-item {
  z-index: 2;
}
.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item:after {
  border-radius: var(--media-radius);
  -webkit-box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
          box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}
.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item:after {
  border-radius: var(--text-boxes-radius);
  -webkit-box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
          box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}
.image-with-text:not(.image-with-text--overlap) .image-with-text__media-item > *,
.image-with-text:not(.image-with-text--overlap) .image-with-text__text-item > * {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.image-with-text .image-with-text__media-item > * {
  overflow: hidden;
  border-radius: var(--media-radius);
  -webkit-box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
          box-shadow: var(--media-shadow-horizontal-offset) var(--media-shadow-vertical-offset) var(--media-shadow-blur-radius) rgba(var(--color-shadow), var(--media-shadow-opacity));
}
.image-with-text .global-media-settings {
  overflow: hidden !important;
}
.image-with-text .image-with-text__text-item > * {
  overflow: hidden;
  border-radius: var(--text-boxes-radius);
  -webkit-box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
          box-shadow: var(--text-boxes-shadow-horizontal-offset) var(--text-boxes-shadow-vertical-offset) var(--text-boxes-shadow-blur-radius) rgba(var(--color-shadow), var(--text-boxes-shadow-opacity));
}
.image-with-text.image-with-text--overlap .backround-transparent, .image-with-text:not(.image-with-text--overlap) .background-transparent {
  background: transparent;
}
.image-with-text .gradient {
  -webkit-transform: perspective(0);
          transform: perspective(0);
}

/* check for flexbox gap in older Safari versions */
@supports not (inset: 10px) {
  .image-with-text .grid {
    margin-left: 0;
  }
}
/*
  Multirow
  note: consider removing from this stylesheet if multirow-specific styles increase signficantly
*/
.multirow__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: var(--grid-mobile-vertical-spacing);
  /* Handle min-width only */
}
@media (min-width: 768px) {
  .multirow__inner {
    row-gap: var(--grid-desktop-vertical-spacing);
  }
}